pelisa_sistem/.phpunit.cache
pelisa_sistem/node_modules
pelisa_sistem/public/build
pelisa_sistem/public/hot
pelisa_sistem/public/storage
pelisa_sistem/storage/*.key
pelisa_sistem/vendor
pelisa_sistem/.env
pelisa_sistem/.env.backup
pelisa_sistem/.env.production
pelisa_sistem/.phpunit.result.cache
pelisa_sistem/Homestead.json
pelisa_sistem/Homestead.yaml
pelisa_sistem/auth.json
pelisa_sistem/npm-debug.log
pelisa_sistem/yarn-error.log
pelisa_sistem/.fleet
pelisa_sistem/.idea
pelisa_sistem/.vscode
pelisa_sistem/venv
